# Database Configuration (Used by Docker Compose)
POSTGRES_USER=admin
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=chompdb

# Backend Secrets
# Note: In Docker, DATABASE_URL should point to the 'database' service (e.g. postgresql://admin:secretpassword@database:5432/chompdb)
# Locally, it should point to 'localhost' (e.g. postgresql://admin:secretpassword@localhost:5432/chompdb)
DOCKER_DATABASE_URL=postgresql://admin:secretpassword@database:5432/chompdb
DATABASE_URL=postgresql://admin:secretpassword@localhost:5432/chompdb
JWT_SECRET_KEY_ACCESS_TOKEN='your_access_token_secret'
JWT_SECRET_KEY_REFRESH_TOKEN='your_refresh_token_secret'
