# Base API URL Override (Optional - defaults to BaseUrl.deployedServer in prod, BaseUrl.server in dev)
# VITE_API_URL=https://3-231-121-16.nip.io

# Environment Mode Override (Optional)
# VITE_ENV=development
